html {
  font-family: Arial, monospace;
  color: #AA767C;
}

img {
  border-style: solid;
  border-width: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img:hover {
  transform: scaleX(-1);
}

div.title {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
}

ul.embeds {
  display: inline-block;
  text-align: left;
}

body {
  font-family: font;
  background-color: rgb(240,240,240);
}

li {
  float: left;
}

li.list-inline {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

nav.navbar {
  list-style-type: none;
  background-color: gray;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 16px;
  border: 0px solid;
}

li.navbar {
  display: inline;
  padding: 16px;
  background-color: gray;
  font-size: 24px;
}

li.navbar:hover {
  background-color: #7a7a7a;
}

a {
  text-decoration: none;
  color: black;
}


